<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Lesu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navigation">
      <div class="navigation__logo">
        <a href="/">Lesu</a>
      </div>

      <button class="btn-open" type="button" aria-label="Menu">
        <img src="/images/menu-open.svg" alt="Menu" />
      </button>
      <div class="navigation__menu-container">
        <div class="btn-close__container">
          <button class="btn-close" type="button" aria-label="Menu">
            <img src="/images/menu-close.svg" alt="Menu" />
          </button>
        </div>

        <ul class="navigation__menu">
          <li class="navigation__menu-item"><a href="/">Home</a></li>
          <li class="navigation__menu-item">
            <a href="/favorite">Favorite</a>
          </li>
          <li class="navigation__menu-item"><a href="/about">About</a></li>
        </ul>
      </div>
    </nav>

    <!-- Main -->
    <main>
      <!-- Hero -->
      <section class="hero">
        <!-- left hero -->
        <div class="hero__left">
          <h1 class="hero__left-title">All Restaurants Near you are here</h1>
          <p class="hero__left-subtitle">
            We make it easy for you to find delicious restaurants around you.
          </p>
          <a class="btn-find" href="#">Let’s Find</a>
        </div>

        <!-- right hero -->
        <div class="hero__right">
          <img src="" alt="" />
        </div>
      </section>

      <!-- Features -->
      <section class="features">
        <!-- TODO: create component after integrate with react -->
        <div class="features__item">
          <div class="features__item-icon">
            <img src="./images/features/fast.svg" alt="Fast Delivery" />
          </div>
          <div class="features__item-content">
            <h3 class="features__item-title">Fast Delivery</h3>
            <p class="features__item-description">
              We can deliver your order quickly
            </p>
          </div>
        </div>
        <div class="features__item">
          <div class="features__item-icon">
            <img src="./images/features/centralized.svg" alt="Centralized" />
          </div>
          <div class="features__item-content">
            <h3 class="features__item-title">Centralized</h3>
            <p class="features__item-description">
              All restaurants become one here
            </p>
          </div>
        </div>
        <div class="features__item">
          <div class="features__item-icon">
            <img src="./images/features/trusted.svg" alt="Trusted" />
          </div>
          <div class="features__item-content">
            <h3 class="features__item-title">Trusted</h3>
            <p class="features__item-description">
              Food is guaranteed to be hygienic
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
