$primary: #ae1414;
$secondary: #fecc64;

// Reset CSS
* {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
a {
  text-decoration: none;
}

:focus {
  outline: 1px solid $secondary;
}

@keyframes navigation-mobile-open {
  from {
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
  }
  to {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
  }
}

@keyframes navigation-mobile-close {
  from {
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  to {
    display: none;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.skip-content {
  position: fixed;
  top: -50px;
  left: 20px;
  z-index: 999;
  background-color: #fff;
  padding: 10px;
}

.skip-content:focus {
  display: flex;
  outline: 1px solid $secondary;
  top: 20px;
}

.nav {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 26px 24px 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;

  &.nav-scroll {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    padding-bottom: 26px;
    box-shadow: 0px 2px 16px 0px #3a3a3a40;
  }
  .btn-close__container {
    display: flex;
    justify-content: end;
    width: 100%;
  }
  .btn-close,
  .btn-open {
    width: 44px;
    height: 44px;
  }
  .btn-close img,
  .btn-open img {
    width: 44px;
    height: 44px;
  }
  .btn-close:focus {
    outline: 1px solid #fecc64;
  }

  .nav__logo a {
    font-weight: 800;
    color: $primary;
    font-size: 36px;
    line-height: 26px;
  }

  .nav__menu-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: -100vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 26px 24px;
    overflow: hidden;
    animation: navigation-mobile-close 0.6s ease-in-out;
    display: none;
  }

  .nav__menu {
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
    margin-top: 120px;
  }

  .nav__menu-item {
    width: 100%;
  }
  .nav__menu-item a {
    color: $primary;
    font-size: 20px;
    font-weight: 800;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 16px 0px #3a3a3a40;
    display: block;
    padding: 26px;
    border-radius: 16px;
    text-align: center;
  }

  // show navigation menu when the body has the class show
  body.nav-open & {
    .nav__menu-container {
      display: block;
      top: 0;
      animation: navigation-mobile-open 0.6s ease-in-out;
    }
  }
}

.footer {
  margin-top: 42px;
  padding: 22px;
  background-color: $primary;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  display: grid;
  place-items: center;

  div {
    display: flex;
    align-items: center;
    column-gap: 4px;

    a {
      color: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 44px;
      min-width: 44px;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .nav {
    .btn-open {
      display: none;
    }
    .btn-close__container {
      display: none;
    }
    .nav__menu-container {
      position: relative;
      height: auto;
      width: auto;
      top: 0;
      overflow: auto;
      display: flex;
      background-color: transparent;
      animation: none;
      padding: 0;
    }
    .nav__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 42px;
      margin-right: 30px;
      margin-top: 0;
    }
    .nav__menu-item {
      color: #3a3a3a;
      font-size: 16px;
      font-weight: 800;
      text-decoration: none;
    }
    .nav__menu-item a {
      padding: 8px;
      margin: 2px;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      display: inline-block;
      min-height: 44px;
      min-width: 44px;
    }
  }
}
